mixin accounts(list)
  .box.box-success
    .box-header
      h3.box-title Account Overview
      .box-tools
        .pull-right    
          button.btn.btn-default.btn-xs(data-widget="collapse")
            i.fa.fa-minus
          button.btn.btn-default.btn-xs(data-widget="remove")
            i.fa.fa-times
    .box-body
      .table-responsive(style="overflow: inherit")
        #single_wrapper.dataTables_wrapper.form-online(role="grid")
          table#accounts.table.table-bordered.table-sriped.dataTable
            thead
              tr
                th Account Name
                th Bits Balance
                th Tools
            tbody
              each account in list
                tr
                  td=account.label
                  td=account.balanceSat/100
                  td 
                    btn.btn.btn-xs.btn-danger.removeSingle(data-remove = account.id)
                      i.fa.fa-remove
